# Default ignored files
/../../../../백엔드 데브코스 /JAVA/2024-11-18-wise-saying-app/.idea/shelf/
/../../../../백엔드 데브코스 /JAVA/2024-11-18-wise-saying-app/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../백엔드 데브코스 /JAVA/2024-11-18-wise-saying-app/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../백엔드 데브코스 /JAVA/2024-11-18-wise-saying-app/.idea/dataSources/
/../../../../백엔드 데브코스 /JAVA/2024-11-18-wise-saying-app/.idea/dataSources.local.xml
